#define ZMK_POINTING_DEFAULT_SCRL_VAL 120    // default: 10

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

#define MOUSE 4
#define SCROLL 5
#define NUM 6

&mt {
    flavor = "balanced";
    quick-tap-ms = <0>;
};

/ {
    combos {
        compatible = "zmk,combos";

        double_quotation {
            bindings = <&kp DOUBLE_QUOTES>;
            key-positions = <20 21>;
        };

        tab {
            bindings = <&kp TAB>;
            key-positions = <40 41>;
            layers = <2>;
        };
    };

    macros {
        to_layer_0: to_layer_0 {
            compatible = "zmk,behavior-macro-one-param";
            #binding-cells = <1>;
            bindings = <&to 0 &macro_param_1to1 &kp MACRO_PLACEHOLDER>;
            label = "TO_LAYER_0";
        };

        lang1_Layer0: lang1_Layer0 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LANG1 &to 0>;
            label = "LANG1_LAYER0";
        };

        lang2_Layer0: lang2_Layer0 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LANG2 &to 0>;
            label = "LANG2_LAYER0";
        };

        kakko: kakko {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LEFT_PARENTHESIS &kp RIGHT_PARENTHESIS>;
            label = "KAKKO";
        };
    };

    behaviors {
        lt_to_layer_0: lt_to_layer_0 {
            compatible = "zmk,behavior-hold-tap";
            label = "LAYER_TAP_TO_0";
            bindings = <&mo>, <&to_layer_0>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
        };

        ROTATE: ROTATE {
            compatible = "zmk,behavior-sensor-rotate-var";
            label = "ROTATE";
            #sensor-binding-cells = <2>;
            bindings = <&msc>, <&msc>;

            tap-ms = <20>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&kp Q      &kp W    &kp E         &kp R                 &kp T                                                                      &kp Y        &kp U  &kp I      &kp O    &kp P
&kp A      &kp S    &kp D         &kp F                 &kp G                    &kp LEFT_WIN                &kp LEFT_PARENTHESIS  &kp H        &kp J  &kp K      &kp L    &kp MINUS
&kp Z      &kp X    &kp C         &kp V                 &kp B                    &none                       &kp RPAR              &kp N        &kp M  &kp COMMA  &kp DOT  &kp SLASH
&lt 1 ESC  &kp TAB  &kp LEFT_ALT  &mt LEFT_SHIFT LANG2  &mt RIGHT_CONTROL LANG1  &lt_to_layer_0 6 SPACE      &kp BACKSPACE         &lt 6 ENTER                             &kp DEL
            >;

            sensor-bindings = <&ROTATE SCRL_DOWN SCRL_UP>;
        };

        FUNCTION {
            bindings = <
&trans  &trans  &trans  &trans  &trans                      &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans                          &trans
            >;
        };

        NUM {
            bindings = <
&trans  &trans  &trans  &trans  &trans                      &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans                          &trans
            >;
        };

        ARROW {
            bindings = <
&trans  &trans  &trans  &trans  &trans                      &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans                          &trans
            >;
        };

        MOUSE {
            bindings = <
&trans  &trans  &trans  &trans         &trans                             &trans  &trans     &kp F5     &trans    &trans
&trans  &trans  &trans  &trans         &trans         &trans      &trans  &trans  &mkp LCLK  &mkp RCLK  &mkp MB4  &trans
&trans  &trans  &trans  &trans         &trans         &trans      &trans  &trans  &trans     &trans     &trans    &trans
&trans  &trans  &trans  &lang2_Layer0  &lang1_Layer0  &trans      &trans  &trans                                  &trans
            >;
        };

        SCROLL {
            bindings = <
&trans  &trans  &trans  &trans  &trans                      &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans                          &trans
            >;
        };

        layer_6 {
            bindings = <
&kakko     &kp N7        &kp N8        &kp N9                &kp COMMA                                                        &kp QUESTION     &kp HASH   &kp DOLLAR  &kp AMPERSAND  &kp DOUBLE_QUOTES
&kp PLUS   &kp N4        &kp N5        &kp N6                &kp PERIOD              &kp LEFT_WIN      &kp LEFT_PARENTHESIS   &kp EXCLAMATION  &kp SLASH  &kp UP      &kp PERCENT    &kp UNDERSCORE
&kp MINUS  &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3          &kp N0                  &kp EQUAL         &kp RIGHT_PARENTHESIS  &kp AT_SIGN      &kp LEFT   &kp DOWN    &kp RIGHT      &kp COLON
&kp SLASH  &kp ASTERISK  &kp EQUAL     &mt LEFT_SHIFT LANG2  &mt LEFT_CONTROL LANG1  &kp SPACE         &kp BACKSPACE          &kp ENTER                                              &kp SEMICOLON
            >;
        };
    };
};
